<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="city" placeholder="Ingrese una ciudad..."/>
    <div *ngIf="searchForm.get('city')?.touched && searchForm.get('city')?.invalid">Campo obligatorio</div>
    <ul>
        <li *ngFor="let suggestion of suggestions$ | async" (click)="searchForm.patchValue({city: suggestion.name})">
                {{ suggestion.name }}
        </li>
    </ul>
    <button type="submit" [disabled]="searchForm.invalid" >Buscar</button>
</form>
<button (click)="navigateFavorites()">Ver favoritos</button>
<div>
    <button (click)="changeView()">Ver tabla últimas búsquedas</button>
</div>
<app-history-list (citySelected)="selectCity($event)"></app-history-list>
<app-weather-results *ngIf="!viewTable" [data]="weatherSelected" [errorMessage]="errorMessage" [city]="city"></app-weather-results>

<app-weather-table *ngIf="history.length > 0 && viewTable" [history]="history"></app-weather-table>
