<div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 border border-gray-300 my-8">
    <thead class="bg-gray-700 text-white">
      <tr>
        <th class="px-6 py-3">{{'weather.city' | translate}}</th>
        <th class="px-6 py-3">{{'weather.temperature' | translate}}</th>
        <th class="px-6 py-3">{{'weather.state' | translate}}</th>
        <th class="px-6 py-3">{{'weather.locale' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of history" class="border-b bg-white hover:bg-gray-100">
        <td class="px-6 py-4">{{ city.location.name }}</td>
        <td class="px-6 py-4">{{ city.current.temp_c }}°C</td>
        <td class="px-6 py-4">{{ city.current.condition.text }}</td>
        <td class="px-6 py-4">{{ city.location.localtime }}</td>
      </tr>
    </tbody>
  </table>
</div>
